* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

body {
  font-family: 'Roboto', sans-serif;
  color: #333d3c;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #caf2f1), color-stop(30%, #caf2f0), color-stop(45%, #d0efea), color-stop(50%, #d6ece3), color-stop(65%, #e8e3d0), color-stop(75%, #ede1ca), to(#eee0c9));
  background-image: linear-gradient(to right, #caf2f1 10%, #caf2f0 30%, #d0efea 45%, #d6ece3 50%, #e8e3d0 65%, #ede1ca 75%, #eee0c9 100%);
  background-repeat: no-repeat; }

.header {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  min-height: 550px; }
  .header .nav {
    min-height: 15vh;
    position: relative;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .nav__logo {
      width: 80px;
      cursor: pointer; }
    .header .nav__social img {
      cursor: pointer; }
    .header .nav__languages {
      text-transform: uppercase; }
      .header .nav__languages span {
        cursor: pointer; }
  .header__main {
    position: relative;
    min-height: 85vh;
    text-align: center; }
    .header__main img:first-of-type {
      position: absolute;
      top: 30%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 80%;
      z-index: 2; }
    .header__main img:nth-of-type(2) {
      position: absolute;
      top: 48%;
      left: 45%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 80%;
      z-index: 1; }
    .header__main .text-section {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      z-index: 3; }
      .header__main .text-section p:first-child {
        font-size: 15px; }
      .header__main .text-section h1 {
        font-size: 30px; }
      .header__main .text-section a {
        display: inline-block;
        margin-top: 20px;
        color: #fff;
        text-decoration: none;
        border: 2px solid white;
        padding: 5px 20px;
        -webkit-transition: .3s;
        transition: .3s; }
        .header__main .text-section a:hover {
          background-color: #333d3c;
          border-color: #333d3c; }
      .header__main .text-section p:last-of-type {
        margin-top: 80px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 10px; }
      .header__main .text-section .line {
        display: none; }
  .header__spheres {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }
    .header__spheres img {
      position: absolute;
      display: none; }
      .header__spheres img:nth-child(2) {
        display: block;
        top: 20%;
        left: 50px; }
      .header__spheres img:nth-child(3) {
        display: block;
        top: 15%;
        left: 220px; }
      .header__spheres img:nth-child(4) {
        display: block;
        top: 10%;
        left: 200px; }
      .header__spheres img:nth-child(5) {
        display: block;
        top: 20%;
        left: 100px; }
      .header__spheres img:nth-child(6) {
        display: block;
        top: 76%;
        left: 20px; }
      .header__spheres img:nth-child(7) {
        display: block;
        top: 77%;
        left: 280px; }
  .header__over {
    display: none; }

@media (min-width: 768px) {
  .header {
    min-height: 800px;
    max-width: 800px; }
    .header__main {
      overflow: visible; }
      .header__main img:first-child {
        top: 10%; }
      .header__main img:nth-of-type(2) {
        position: absolute;
        top: 37%;
        width: 80%; }
      .header__main .text-section {
        top: 40%; }
        .header__main .text-section p:first-child {
          font-size: 20px; }
        .header__main .text-section h1 {
          font-size: 45px; }
        .header__main .text-section a {
          margin-top: 20px;
          padding: 8px 25px;
          font-size: 24px; }
        .header__main .text-section p:last-of-type {
          margin-top: 130px;
          font-size: 15px; }
    .header__spheres {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: visible; }
      .header__spheres img:nth-child(1) {
        display: block;
        top: 0;
        left: 20%; }
      .header__spheres img:nth-child(3) {
        top: 15%;
        left: 620px; }
      .header__spheres img:nth-child(4) {
        top: 20%;
        left: 320px; }
      .header__spheres img:nth-child(5) {
        top: 25%;
        left: 120px; }
      .header__spheres img:nth-child(7) {
        top: 85%;
        left: 650px; }
      .header__spheres img:nth-child(8) {
        display: block;
        top: 47%;
        left: 600px; }
      .header__spheres img:nth-child(9) {
        display: block;
        top: 40%;
        left: 30px; }
      .header__spheres img:nth-child(10) {
        display: block;
        top: 50%;
        left: 500px; }
    .header__over {
      display: none; } }

@media (min-width: 1200px) {
  .header {
    max-width: 1265px;
    min-height: 1000px; }
    .header .nav {
      height: 15vh; }
      .header .nav__logo {
        width: 123px;
        height: 76px; }
      .header .nav__social img:last-child {
        margin-left: 17px;
        margin-right: 40px; }
      .header .nav__languages span:last-child {
        margin-left: 8px; }
    .header__main {
      height: 85vh; }
      .header__main img:first-of-type {
        width: 769px;
        height: 636px;
        top: 202px;
        left: 292px;
        -webkit-transform: none;
        transform: none; }
      .header__main img:nth-of-type(2) {
        width: 572px;
        height: 367px;
        top: 610px;
        left: 330px;
        -webkit-transform: none;
        transform: none; }
      .header__main .text-section {
        top: 300px; }
        .header__main .text-section p:first-child {
          font-size: 24px;
          margin-bottom: 40px; }
        .header__main .text-section h1 {
          font-size: 65px; }
        .header__main .text-section a {
          margin-top: 12px;
          font-size: 24px; }
        .header__main .text-section p:last-of-type {
          font-size: 18px;
          margin-top: 295px; }
        .header__main .text-section .line {
          position: absolute;
          top: 530px;
          left: 637px;
          display: block;
          width: 2px;
          height: 121px;
          background-color: #333d3c; }
    .header__spheres img:nth-child(1) {
      display: block;
      top: 0;
      left: 388px; }
    .header__spheres img:nth-child(2) {
      display: block;
      top: 20px;
      left: 360px; }
    .header__spheres img:nth-child(3) {
      display: block;
      top: 97px;
      left: 320px; }
    .header__spheres img:nth-child(4) {
      display: block;
      top: 140px;
      left: 387px; }
    .header__spheres img:nth-child(5) {
      display: block;
      top: 190px;
      left: 400px; }
    .header__spheres img:nth-child(6) {
      display: block;
      top: 227px;
      left: 440px; }
    .header__spheres img:nth-child(7) {
      display: none; }
    .header__spheres img:nth-child(8) {
      display: none; }
    .header__spheres img:nth-child(9) {
      display: block;
      top: 385px;
      left: 405px; }
    .header__spheres img:nth-child(10) {
      display: block;
      top: 463px;
      left: 888px; }
    .header__spheres img:nth-child(11) {
      display: block;
      top: 633px;
      left: -52px; }
    .header__spheres img:nth-child(12) {
      display: block;
      top: 720px;
      left: 78px; }
    .header__spheres img:nth-child(13) {
      display: none; }
    .header__over {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      display: block; }
      .header__over img {
        position: absolute; }
        .header__over img:nth-child(1) {
          top: 339px;
          left: 252px; }
        .header__over img:nth-child(2) {
          top: 339px;
          left: 445px; }
        .header__over img:nth-child(3) {
          top: 764px;
          left: 920px; }
        .header__over img:nth-child(4) {
          top: 560px;
          left: 770px; } }

.about {
  margin: 0 auto;
  max-width: 500px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about__text--rise {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .about__text--rise img {
      width: 30%; }
    .about__text--rise p {
      margin-top: 25px;
      color: #868782;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.07px; }
  .about__text--sansara {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .about__text--sansara img {
      width: 50%;
      align-self: center; }
    .about__text--sansara .owners p:nth-of-type(1) {
      margin-top: 25px;
      color: #868782;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.07px; }
    .about__text--sansara .owners p:nth-of-type(2) span:nth-child(1) {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      font-weight: 700;
      color: #868782; }
    .about__text--sansara .owners p:nth-of-type(2) span:nth-child(2) {
      display: none;
      width: 10%;
      border-bottom: 1px solid #333d3c; }
    .about__text--sansara .owners p:nth-of-type(2) span:nth-child(3) {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 2.4px;
      text-transform: uppercase;
      color: #333d3c; }
    .about__text--sansara .owners p:nth-of-type(2) span:nth-child(4) {
      font-size: 18px;
      color: #333d3c;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      font-weight: 700; }
      .about__text--sansara .owners p:nth-of-type(2) span:nth-child(4) span {
        display: inline-block;
        width: 60px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        text-transform: uppercase;
        background-color: #bab8ac;
        color: white;
        letter-spacing: 2.4px;
        font-size: 11px;
        font-weight: 700;
        padding: 2px;
        cursor: pointer; }
    .about__text--sansara .owners P:last-of-type span:nth-child(1) {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      font-weight: 700;
      color: #868782; }
    .about__text--sansara .owners P:last-of-type span:nth-child(2) {
      display: none;
      width: 10%;
      border-bottom: 1px solid #333d3c; }
    .about__text--sansara .owners P:last-of-type span:nth-child(3) {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 2.4px;
      text-transform: uppercase;
      color: #333d3c; }
    .about__text--sansara .owners P:last-of-type span:nth-child(4) {
      font-size: 18px;
      color: #333d3c;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      font-weight: 700; }
      .about__text--sansara .owners P:last-of-type span:nth-child(4) span {
        display: inline-block;
        width: 60px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        text-transform: uppercase;
        background-color: #bab8ac;
        color: white;
        letter-spacing: 2.4px;
        font-size: 11px;
        font-weight: 700;
        padding: 2px;
        cursor: pointer; }
  .about__banner {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-color: #fff2dd; }
    .about__banner--content {
      flex-basis: 50%;
      border-bottom: 1px solid #333d3c;
      padding-bottom: 20px; }
      .about__banner--content p {
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease; }
    .about__banner--trigger {
      display: flex;
      padding-top: 20px;
      flex-basis: 50%;
      justify-content: space-between;
      align-items: center; }
      .about__banner--trigger p {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: #333d3c;
        letter-spacing: 2.4px;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease; }
      .about__banner--trigger img {
        cursor: pointer; }

.strong {
  font-size: 40px !important; }

@media (min-width: 768px) {
  .about {
    max-width: 800px; }
    .about__text--rise {
      flex-direction: row; }
      .about__text--rise P {
        margin-left: 70px; }
    .about__text--sansara {
      flex-direction: row; }
      .about__text--sansara img {
        width: 215px;
        height: 49px; }
      .about__text--sansara .owners {
        margin-left: 70px; } }

@media (min-width: 1200px) {
  .about {
    max-width: 936px; } }
