.about {
    margin: 0 auto;
    max-width: 500px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text--rise {
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .rise-logo {
            width: 221px;
            height: 137px;
        }

        img {
            &:nth-of-type(2) {
                display: none;
            }

            &:nth-of-type(3) {
                display: none;
            }

            &:nth-of-type(4) {
                display: none;
            }
        }

        p {
            margin-top: 25px;
            color: #868782;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.07px;
        }
    }

    &__text--sansara {
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .sansara-logo {
            width: 215px;
            height: 49px;
            align-self: center;
        }

        .owners {
            p:nth-of-type(1) {
                margin-top: 25px;
                color: #868782;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.07px;
            }

            p:nth-of-type(2) {
                span:nth-child(1) {
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 1.6px;
                    font-weight: 700;
                    color: #868782;
                }

                span:nth-child(2) {
                    display: none;
                    width: 10%;
                    border-bottom: 1px solid #333d3c;
                }

                span:nth-child(3) {
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: 2.4px;
                    text-transform: uppercase;
                    color: #333d3c;
                }

                span:nth-child(4) {
                    font-size: 18px;
                    color: #333d3c;
                    text-transform: uppercase;
                    letter-spacing: 2.4px;
                    font-weight: 700;

                    span {
                        display: inline-block;
                        width: 60px;
                        height: 24px;
                        text-align: center;
                        line-height: 24px;
                        text-transform: uppercase;
                        background-color: #bab8ac;
                        color: white;
                        letter-spacing: 2.4px;
                        font-size: 11px;
                        font-weight: 700;
                        padding: 2px;
                        cursor: pointer;
                    }
                }
            }

            P:last-of-type {
                span:nth-child(1) {
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 1.6px;
                    font-weight: 700;
                    color: #868782;
                }

                span:nth-child(2) {
                    display: none;
                    width: 10%;
                    border-bottom: 1px solid #333d3c;
                }

                span:nth-child(3) {
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: 2.4px;
                    text-transform: uppercase;
                    color: #333d3c;
                }

                span:nth-child(4) {
                    font-size: 18px;
                    color: #333d3c;
                    text-transform: uppercase;
                    letter-spacing: 2.4px;
                    font-weight: 700;

                    span {
                        display: inline-block;
                        width: 60px;
                        height: 24px;
                        text-align: center;
                        line-height: 24px;
                        text-transform: uppercase;
                        background-color: #bab8ac;
                        color: white;
                        letter-spacing: 2.4px;
                        font-size: 11px;
                        font-weight: 700;
                        padding: 2px;
                        cursor: pointer;
                    }
                }
            }
        }

        img {
            &:nth-of-type(2) {
                display: none;
            }

            &:nth-of-type(3) {
                display: none;
            }
        }
    }

    &__banner {
        position: relative;
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 5%;
        background-color: #fff2dd;

        &--content {
            flex-basis: 50%;
            border-bottom: 1px solid #333d3c;
            padding-bottom: 20px;
        }

        &--trigger {
            display: flex;
            padding-top: 20px;
            flex-basis: 50%;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                color: #333d3c;
                letter-spacing: 2.4px;
                transition: all .5s ease;
                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
                -ms-transition: all .5s ease;
                -o-transition: all .5s ease;
            }

            .btn-banner {
                display: inline-block;
                cursor: pointer;
            }
        }
        img {
            display: none;
        }
    }
}

.strong {
    font-size: 40px !important;
}

@include breakpoint (tablet) {
    .about {
        position: relative;
        max-width: 800px;

        &__text--rise {
            position: relative;
            flex-direction: row;
            padding: 50px;

            .rise-logo {
                width: 221px;
                height: 140px;
            }

            P {
                margin-left: 70px;
            }

            img {
                &:nth-of-type(2) {
                    display: inline-block;
                    position: absolute;
                    top: 5px;
                    left: 17px;
                }

                &:nth-of-type(3) {
                    display: inline-block;
                    position: absolute;
                    top: 105px;
                    left: -73px;
                }

                &:nth-of-type(4) {
                    display: inline-block;
                    position: absolute;
                    top: 72px;
                    left: 278px;
                }
            }

        }

        &__text--sansara {
            position: relative;
            flex-direction: row;
            padding: 50px;

            .sansara-logo {
                width: 215px;
                height: 49px;
            }

            .owners {
                margin-top: 50px;
                margin-left: 70px;

                p:nth-of-type(2) {
                    span:nth-child(1) {
                        font-size: 14px;
                        letter-spacing: 1px;
                    }

                    span:nth-child(3) {
                        font-size: 14px;
                        letter-spacing: 1px;
                    }

                    span:nth-child(4) {
                        font-size: 14px;
                        letter-spacing: 1px;
                    }
                }

                P:last-of-type {
                    span:nth-child(1) {
                        font-size: 14px;
                        letter-spacing: 1px;
                    }


                    span:nth-child(3) {
                        font-size: 14px;
                        letter-spacing: 1px;

                    }

                    span:nth-child(4) {
                        font-size: 14px;
                        letter-spacing: 1px;
                    }
                }
            }

            img {
                &:nth-of-type(2) {
                    display: inline-block;
                    position: absolute;
                    top: 18px;
                    left: 190px;
                }

                &:nth-of-type(3) {
                    display: inline-block;
                    position: absolute;
                    top: 94px;
                    left: 14px;
                    z-index: -1;
                }
            }
        }

        &__banner {
            margin-top: 100px;
            img {
                &:nth-last-of-type(2) {
                    display: inline-block;
                    position: absolute;
                    bottom: -22px;
                    right: 119px;
                }
            }
        }
    }
}

@include breakpoint (desktop) {
    .about {
        align-items: flex-start;
        max-width: 1000px;

        &__text--rise {
            position: relative;
            width: 100%;

            img {
                &:nth-of-type(2) {
                    top: -17px;
                    left: 3px;
                }

                &:nth-of-type(3) {
                    top: 108px;
                    left: -86px;
                }

                &:nth-of-type(4) {
                    top: 40px;
                    left: 268px;
                }
            }

            P {
                width: 427px;
                margin-left: 240px;
            }
        }

        &__text--sansara {
            padding: 0;
            width: 100%;
            flex-direction: row;

            .sansara-logo {
                margin-top: 100px;
            }

            .owners {
                margin-left: 257px;

                p:nth-of-type(1) {
                    width: 426px;
                }

                p:nth-of-type(2) {
                    width: 490px;

                    span:nth-child(1) {
                        font-size: 14px;
                        letter-spacing: 0.7px;
                    }

                    span:nth-child(2) {
                        display: inline-block;
                        width: 32px;
                        border-bottom: 1px solid #333d3c;
                    }

                    span:nth-child(3) {
                        font-size: 15px;
                        letter-spacing: 0.7px;
                    }

                    span:nth-child(4) {
                        font-size: 15px;
                        letter-spacing: 0.7px;

                        span {
                            display: inline-block;
                            width: 60px;
                            height: 24px;
                            text-align: center;
                            line-height: 24px;
                            text-transform: uppercase;
                            background-color: #bab8ac;
                            color: white;
                            letter-spacing: 2.4px;
                            font-size: 11px;
                            font-weight: 700;
                            padding: 2px;
                            cursor: pointer;
                        }
                    }
                }

                P:last-of-type {
                    padding-top: 5px;

                    span:nth-child(1) {
                        font-size: 14px;
                        letter-spacing: 0.4px;
                    }

                    span:nth-child(2) {
                        display: inline-block;
                        width: 98px;
                        border-bottom: 1px solid #333d3c;
                    }

                    span:nth-child(3) {
                        font-size: 15px;
                        letter-spacing: 0.7px;
                    }

                    span:nth-child(4) {
                        font-size: 15px;
                        letter-spacing: 0.7px;

                        span {
                            display: inline-block;
                            width: 60px;
                            height: 24px;
                            text-align: center;
                            line-height: 24px;
                            text-transform: uppercase;
                            background-color: #bab8ac;
                            color: white;
                            letter-spacing: 2.4px;
                            font-size: 11px;
                            font-weight: 700;
                            padding: 2px;
                            cursor: pointer;
                        }
                    }
                }
            }

            img {
                &:nth-of-type(2) {
                    top: 60px;
                    left: 249px;
                }

                &:nth-of-type(3) {
                    top: 80px;
                    left: -22px;
                }
            }
        }

        &__banner {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 140px;
            width: 872px;
            height: 215px;
            padding: 15px;

            &--content {
                height: 150px;
                font-size: 14px;
                border-bottom: none;

                p {
                    text-align: right;
                    padding-right: 23px;
                    border-right: 1px solid #333d3c;
                }
            }

            &--trigger {
                position: relative;
                flex-direction: column;
                align-items: flex-start;

                p {
                    margin-left: 57px;
                    top: 50%;
                    transform: translateY(-50%);
                    ;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                }

                img {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    ;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                }
            }
            img {
                &:nth-last-child(2) {
                    bottom: -35px;
                    right: 162px;
                }
            }
        }

        &__spheres {

            img {
                &:nth-child(1) {
                    position: absolute;
                    top: -19px;
                    left: 0;
                }

                &:nth-child(2) {
                    position: absolute;
                    top: 106px;
                    left: -88px;
                }

                &:nth-child(3) {
                    position: absolute;
                    top: 221px;
                    left: 248px;
                }

                &:nth-child(4) {
                    position: absolute;
                    top: 243px;
                    left: -24px;
                    z-index: -1;
                }

                &:nth-child(5) {
                    position: absolute;
                    bottom: -31px;
                    right: 307px;
                }

                &:nth-child(6) {
                    display: none;

                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}