body {
    font-family: 'Roboto', sans-serif;
    color: #333d3c;
    background-image: linear-gradient(to right, #caf2f1 10%, #caf2f0 30%, #d0efea 45%, #d6ece3 50%, #e8e3d0 65%, #ede1ca 75%, #eee0c9 100%);
    background-repeat: no-repeat;
}

section {
    height: 100vh;
    width: 100%;
}